<%- include('./partials/header'); -%>
<div class="content-wrapper">
  <div class="header-index">
    <h1>ABOUT</h1>
    <hr />
  </div>

  <div class="about-content">
    <div class="section">
      <h5>School</h5>

      <p>
        My mother believed in hard work and education, that is why she heavily
        invested into my education. Since 10 years old I was taking programming,
        electrical engineering and electronics classes, not to mention various
        math, chemistry, physics tutors she hired for me.
      </p>

      <p>
        Since 6th grade I started to attend a National University as a
        volunteer-technician, to learn more about microbiology. For 1.5 years I
        was helping them with little tasks, cleaned and prepped lab tools. After
        that time I was being involved in projects of various complexity that a
        science team was working on. During my last year at school I completed a
        large project of my own, which was a part of a major study. The name of
        my project was "Genotoxic characteristics of soil, contaminated with
        pesticides". I researched how contaminated soil causes chromosome
        mutation. My project won 3rd national place, which was a significant
        achievement.
      </p>

      <p>
        For several years I attended a private school that specialized in
        programming, electrical engineering, physics and math.
      </p>
    </div>

    <div class="section">
      <h5>College</h5>

      <p>
        The college program was very intense. I had classes from 8am till about
        4pm five days a week, and after classes I worked as a technician at a
        scientific lab. Every year I had to submit and defend a large scientific
        project, and had to publish scientific papers.
      </p>

      <p>
        I always wanted to create a software that could help identify bacteria
        strains and model the growth. I obtained M.S. diploma with honors in
        microbiology, and enrolled in a graduate school.
      </p>
    </div>

    <div class="section">
      <h5>Professional Activity</h5>

      <p>
        I am fortunate because I always worked with very smart people who I
        learned from, people who believed in me and trusted me with their
        business. I had never had a simple job. All jobs I held were very
        challenging and required me to constantly perform, and I loved it.
      </p>

      <p>
        For the past 12 years I worked in a managing role. I learned how to be a
        leader and lead people by examples, learned risk management, project
        management, time management, how to handle poor performance and develop
        others. I obtained industry leading training from multiple companies and
        schools.
      </p>

      <p>
        I learned all about goals, planning, execution, key performance
        indicators, key delivery areas, project planning, SWOT analysis etc. I
        leaned, practiced and honed management skills and styles, learned to
        build and manage productive teams and work groups and embrace changes.
        If one does not have a well defined, measurable, timed and realistic
        goal then that person will never achieve any result. These are the
        principles I try to teach my children.
      </p>

      <p>
        For over 5 years I have been working at Sawyer's Technical Materials
        doing a very interesting, challenging and creative job that allowed me
        to grow personally and professionally. I am Director of Quartz Growth
        and Fabrication. I oversee a whole plant from production to R&D and
        engineering. I joined the company in 2017 as QA/QC manager to replace a
        retiring chief research engineer who worked there for 30 years.
      </p>

      <p>
        I had only 3 days to learn from him which was definelity not enough to
        transfer 30 years of knowledge. The quartz growth is extremely
        complicated process with very little advancement and research in the
        past 20 years. I had to commit all of my time, days and nights to learn,
        read, research. I was able to achieve what a group of researchers and
        engineers before me could not have achieved.
      </p>

      <p>
        I have built a highly motivated and productive team, improved customer
        satisfaction, on-time delivery and yield. I have improved existing and
        created new processes and products.
      </p>

      <p>
        My job allows me to use all skills I got including programming, data
        science, electronics. I built custom software, models for supervised
        machine learning and deep learning, I designed and built custom
        electronics and devices.
      </p>

      <p>
        I know what it takes to learn, how to learn and how not to give up. I
        believe challenges make us better and encourage us to improve.
      </p>
    </div>
  </div>

  <hr />

  <div class="spacer"></div>

  <div class="courses section">
    <div>
      <h5 class="courses-taken">
        Courses and certifications taken in the past 10 years
      </h5>
      <img
        class="courses-image"
        src="https://res.cloudinary.com/hsuwjpm5m/image/upload/v1666745489/drWebSite/girl-gffedac9de_1280_oxzjk3.png"
        alt="icon"
      />
    </div>

    <div style="margin: 20px 0 0 0" class="container text-center courses-grid">
      <div
        class="btn__courses"
        style="
          margin-bottom: 15px;
          width: 100%;
          text-align: left;
          display: inline-block;
        "
        class="row"
      >
        <div class="row justify-content-md-left">
          <div class="btn__about col-md-auto">
            <a id="all" class="course-selector" href="#">ALL</a>
          </div>
          <div class="btn__about col-md-auto">
            <a id="business" class="course-selector" href="#">BUSINESS</a>
          </div>
          <div class="btn__about col-md-auto">
            <a id="finances" class="course-selector" href="#">FINANCES</a>
          </div>
          <div class="btn__about col-md-auto">
            <a id="it" class="course-selector" href="#">IT</a>
          </div>
          <div class="btn__about col-md-auto">
            <a id="other" class="course-selector" href="#">OTHER</a>
          </div>
        </div>
      </div>
      <div class="courses__container"></div>
    </div>
  </div>

  <hr />

  <div class="courses section">
    <div>
      <h5 class="courses-taken">
        Professional books read in the past 10 years
      </h5>
      <img
        class="courses-image"
        src="https://res.cloudinary.com/hsuwjpm5m/image/upload/v1666741260/drWebSite/books-g9a7b267a4_1280_cwoyi9.png"
        alt="icon"
      />
    </div>

    <div style="margin: 20px 0 0 0" class="container text-center courses-grid">
      <div style="color: #73777b" class="row">
        <div
          class="btn__books"
          style="
            margin-bottom: 15px;
            width: 100%;
            text-align: left;
            display: inline-block;
          "
          class="row"
        >
          <div class="row justify-content-md-left">
            <div class="btn__about col-md-auto">
              <a id="all" class="book-selector" href="#">ALL</a>
            </div>
            <div class="btn__about col-md-auto">
              <a id="business" class="book-selector" href="#">BUSINESS</a>
            </div>
            <div class="btn__about col-md-auto">
              <a id="it" class="book-selector" href="#">IT</a>
            </div>
            <div class="btn__about col-md-auto">
              <a id="electronics" class="book-selector" href="#">ELECTRONICS</a>
            </div>
            <div class="btn__about col-md-auto">
              <a id="other" class="book-selector" href="#">OTHER</a>
            </div>
          </div>
        </div>
      </div>

      <div class="books__container"></div>
    </div>
    <div style="margin-bottom: 20px"></div>
  </div>
</div>
<%- include('./partials/footer'); -%>
