<%- include('./partials/header'); -%>

<div class="content-wrapper">
  <div class="header-index">
    <h1>Something happpened and we could not sign you up, please try again.</h1>
    <a class="sent-mail-redirect" href="/index">Back to Home Page</a>
    <hr />
  </div>
</div>

<script>
  setTimeout(function () {
    // after 2 seconds
    window.location.href = "https://www.dennisrotnov.com";
  }, 2000);
</script>
<%- include('./partials/footer'); -%>
