<%- include('./partials/header'); -%>
<div class="content-wrapper">
  <div class="header-index">
    <h1>Hello, I am Dennis Rotnov.</h1>
    <hr />
  </div>

  <div class="message">
    <p>
      Classical education, diverse knowledge, top management skills, production
      control, <br />
      project management, process control, product design, QC, QA, R&D, data
      science, web development, embedded technology.
    </p>
  </div>

  <div class="container text-center">
    <div class="icons-index-page row">
      <div class="col-lg-3 col-md-6">
        <figure>
          <img class="icon-index" src="./images/44.png" alt="" />
          <figcaption>Hard work.</figcaption>
        </figure>
      </div>
      <div class="col-lg-3 col-md-6">
        <figure>
          <img class="icon-index" src="./images/33.png" alt="" />
          <figcaption>Defined goals.</figcaption>
        </figure>
      </div>
      <div class="col-lg-3 col-md-6">
        <figure>
          <img class="icon-index" src="./images/11.jpg" alt="" />
          <figcaption>
            Integrity, high work ethics, <br />
            dependability.
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-3 col-md-6">
        <figure>
          <img class="icon-index" src="./images/55.png" alt="" />
          <figcaption>Continuous improvement.</figcaption>
        </figure>
      </div>
    </div>
  </div>
  <noscript> Your browser does not support JavaScript! </noscript>
</div>

<%- include('./partials/footer'); -%>
