<%- include('./partials/header'); -%>

<div class="content-wrapper">
  <div class="header-index">
    <h1>POJECTS AND HOBBY</h1>
    <hr />
  </div>

  <div class="projects-content">
    <p>
      Many of these little projects were created with my kid, who enjoys
      soldering and programming. For more information or to view the code visit
      my
      <a
        href="https://www.instagram.com/dennis_r2018/?igshid=YmMyMTA2M2Y%3D"
        target="_blank"
        >Instagram</a
      >
      and <a href="https://github.com/LearnFL" target="_blank">GitHub</a>. More
      projects are being prepared for public view and will be postes shortly.
      Please <a href="/newsletter">sign up</a> for a news letter.
    </p>
  </div>

  <div class="container text-center">
    <div class="row project-tile-container"></div>
  </div>
  <noscript>Your browser does not support JavaScript!</noscript>
</div>

<%- include('./partials/footer'); -%>
